@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:wght@200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#2193b0, #6dd5ed);
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

::selection {
    color: white;
    background-color: darkcyan;
}

.wrapper {
    background-color: white;
    width: 370px;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 20px rgba(0,0,0,0.05);
}

header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

form {
    margin: 35px 0 20px;
}

.row {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.row label {
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.row:nth-child(2) label {
    font-size: 17px;
}

:where(textarea, select, button) {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
}

.row textarea {
    font-size: 15px;
    height: 120px;
    padding: 8px 10px;
    resize: none;
    border: 1px solid #999;
}

.row textarea::-webkit-scrollbar {
    width: 0;
}

.outer {
    height: 45px;
    padding: 0 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #999;
    border-radius: 5px;
}

.row select {
    font-size: 14px;
    background-color: none;
}

.row select::-webkit-scrollbar {
    width: 10px;
}

.row select::-webkit-scrollbar-track {
    background-color: white;
}

.row select::-webkit-scrollbar-thumb {
    background-color: #888;
    border-right: 2px solid white;
    border-radius: 8px;
}

form button {
    font-size: 18px;
    color: white;
    background-color: rgb(0,147,157);
    height: 55px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

form buton:hover {
    background-color: #4534fe;
}

@media (max-width: 400px) {
    .wrapper {
        width: 100%;
        max-width: 345px;
    }
}